* {
    padding: 0 auto;
    margin: 0 auto;
}

.background {
    background-image: url(image/faqimage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    padding: 10px;
}